[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "*"
requests = "*"
dnspython = "*"
flask-wtf = "*"
wtforms = "*"
flask-reuploaded = "*"

[dev-packages]

[requires]
python_version = "3.9"
