{% macro render_ingredient_form(subform, index) %}
{% from "_render_field.html" import render_field %}
<div id="ingredients-{{ index }}-form" class="row g-2{% if index != '_' %} ingredients-subform{% else %} is-hidden{% endif %}" data-index="{{ index }}">
  {% for field in subform %}
  <div class="col-6">
    {{ render_field(field) }}
  </div>
  {% endfor %}
  <a class="remove-ingredient btn btn-outline-dark accent-color primary-text-color my-4" role="button">Remove Ingredient</a>
</div>
{% endmacro %}