<!-- this macro renders the quantity and ingredient inputs, with previous data inserted -->
{% macro render_ingredient_form_with_data(subform, index, ingredient) %}
{% from "_render_field.html" import render_field %}
<div id="ingredients-{{ index }}-form" class="row g-2{% if index != '_' %} ingredients-subform{% else %} is-hidden{% endif %}" data-index="{{ index }}">
  {% for field in subform %}
  <div class="col-5">
    {% if loop.index0 == 0 %}
    {{ render_field(field, ingredient.quantity) }}
    {% else %}
    {{ render_field(field, ingredient.ingredient) }}
    {% endif %}
  </div>
  {% endfor %}
  <div class="col-2 d-flex justify-content-center align-items-center">
    <a class="remove-ingredient dark-red-color" role="button"><i class="fas fa-minus-circle"></i></a>
  </div>
</div>
{% endmacro %}