{% from "_render_field.html" import render_field %}
{% from "_render_ingredient_form.html" import render_ingredient_form %}
{% extends "base.html" %}

{% block title %}Add Recipe - We Cook{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center pt-3">
  <div class="row justify-content-center mx-1">
    <div id="center-form" class="col text-center light-primary-color mb-3 shadow-2-strong">
      <h3 class="my-2">Add a new recipe:</h3>
      <form method="POST" action="{{ url_for('add_recipe') }}" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <!-- Name input -->
        {{ render_field(form.name) }}
        <!-- Ingredients -->
        <h5 class="mb-2">Add Ingredients:</h5>
        <div id="ingredients-container">
          {% for subform in form.ingredients %}
          {{ render_ingredient_form(subform, loop.index0) }}
          {% endfor %}
        </div>
        <a id="add-ingredient" class="btn btn-outline-dark accent-color primary-text-color mb-2" role="button">
          Add Ingredient<i class="fas fa-plus-circle"></i>
        </a>
        {{ render_field(form.instructions) }}
        {{ render_field(form.servings) }}
        {{ render_field(form.time_required) }}
        {{ form.image.label }}
        {{ form.image }}
        {% if form.image.errors %}
        <ul>
          {% for error in form.image.errors %}
          <li class="form-validation-error">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <small>Maximum file size is 2MB</small>
        <br>
        <!-- Add Recipe Button -->
        <button type="submit" class="btn btn-outline-dark accent-color primary-text-color my-2">Add Recipe</button>
      </form>
      <!--  Form template used to create new  ingredient forms  -->
      <div id="ingredients-_-form" class="is-hidden row g-2 mb-2" data-index="_">
        <div class="col-5">
          <div class="form-outline">
            <input class="form-control" id="ingredients-_-quantity" name="ingredients-_-quantity" type="text" value="">
            <label class="form-label" for="ingredients-_-quantity" style="margin-left: 0px;">Quantity</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 52.8px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="form-outline">
            <input class="form-control" id="ingredients-_-ingredient" name="ingredients-_-ingredient" type="text"
              value="" required>
            <label class="form-label" for="ingredients-_-ingredient" style="margin-left: 0px;">Ingredient</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 64px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
          <a class="remove-ingredient dark-red-color" role="button"><i class="fas fa-minus-circle"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}