{% from "_render_field.html" import render_field %}
{% from "_render_ingredient_form.html" import render_ingredient_form %}
{% extends "base.html" %}

{% block title %}Register - We Cook{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
  <div class="row justify-content-center mx-1">
    <div id="center-form" class="col text-center light-primary-color">
      <h3>Add a new recipe:</h3>
      <form method="POST" action="{{ url_for('register') }}">
        {{ form.csrf_token }}
        <!-- Name input -->
        {{ render_field(form.name) }}
        
        {% for subform in form.ingredients %}
        <div class="row g-2">
          {% for field in subform %}
          <div class="col-6">
            {{ render_field(field) }}
          </div>
          {% endfor %}
        </div>
        {% endfor %}
        <a class="btn btn-outline-dark accent-color primary-text-color mb-4">
          Add Ingredient<i class="fas fa-plus-circle"></i>
        </a>
        {{ render_field(form.servings) }}
        <!-- Submit button -->
        <button type="submit" class="btn btn-outline-dark accent-color primary-text-color my-4">Add Recipe</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}