{% extends "base.html" %}
{% block title %}{{ recipe.name }} - Edit Recipe - We Cook{% endblock %}
{% block content %}
<div class="nav-padding">
  {{ render_flashed_messages() }}
</div>
<div class="container d-flex flex-column justify-content-center align-items-center my-4">
  <div class="row justify-content-center mx-1">
    <div id="center-form" class="col text-center light-primary-color shadow-2-strong px-3">
      <h3 class="my-3">Edit recipe:</h3>
      <form method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <!-- Name input -->
        {{ render_field(form.name) }}
        <!-- Ingredients -->
        <h5 class="my-3">Add Ingredients:</h5>
        <div id="ingredients-container">
          {% for subform in form.ingredients %}
          {{ render_ingredient_form(subform, loop.index0) }}
          {% endfor %}
        </div>
        <a id="add-ingredient" class="btn btn-outline-dark accent-color primary-text-color mb-3" role="button">
          Add Ingredient<i class="fas fa-plus-circle"></i>
        </a>
        <div class="row">
          <div class="col-12 mb-3">
            {{ render_field(form.instructions) }}
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            {{ render_field(form.servings) }}
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            {{ render_field(form.time_required) }}
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3 text-start">
            <label class="form-label" for="{{ form.image.name }}">{{ form.image.label.text }}</label>
            <input class="form-control" type="file" id="{{ form.image.name }}" name="{{ form.image.name }}">
            <small>Maximum file size is 2MB, files must be .jpg, .jpeg or png</small>
            <br>
          </div>
        </div>
        {% if form.image.errors %}
        <ul>
          {% for error in form.image.errors %}
          <li class="form-validation-error">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <div class="row">
          <div class="col-12 mb-3 text-start">
            {% if "recipe_image" in recipe %}
            <small>Current Image: {{ recipe.recipe_image }}</small> <br>
            {% endif %}
          </div>
        </div>
        <!-- section for file size error message -->
        <div class="dark-red-color fw-bold text-uppercase" id="filesize-validation"></div>
        <div class="row">
          <div class="col-12">
            <!-- Add Recipe Button -->
            <button id="submit-button" type="submit"
              class="btn btn-outline-dark accent-color primary-text-color my-2">Save Recipe</button>
          </div>
          <div class="col-12">
            <!-- Cancel Button -->
            <a class="btn btn-sm btn-outline-dark grey-background text-primary-color my-2"
              href="{{ url_for('profile', user=session['user']) }}" role="button">
              Cancel
            </a>
            <!-- Delete Recipe Button -->
            <button class="btn btn-sm btn-outline-dark dark-red-background text-primary-color my-2" type="button"
              data-mdb-toggle="modal" data-mdb-target="#delete-modal">
              Delete Recipe
            </button>
          </div>
        </div>
      </form>
      <!-- Delete Recipe modal -->
      <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="delete-modal-label">Delete Recipe?</h5>
              <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark grey-background text-primary-color"
                data-mdb-dismiss="modal">
                Close
              </button>
              <a class="btn btn-outline-dark dark-red-background text-primary-color"
                href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" role="button">
                Delete
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--  Form template used to create new  ingredient forms  -->
      <div id="ingredients-_-form" class="is-hidden row g-2 mb-2" data-index="_">
        <div class="col-5">
          <div class="form-outline">
            <input class="form-control" id="ingredients-_-quantity" name="ingredients-_-quantity" type="text" value="">
            <label class="form-label" for="ingredients-_-quantity" style="margin-left: 0px;">Quantity</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 52.8px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="form-outline">
            <input class="form-control" id="ingredients-_-ingredient" name="ingredients-_-ingredient" type="text"
              value="" required>
            <label class="form-label" for="ingredients-_-ingredient" style="margin-left: 0px;">Ingredient</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 64px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
          <a class="remove-ingredient dark-red-color" role="button"><i class="fas fa-minus-circle"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}