{% extends "base.html" %}

{% block title %}{{ user.name }} - Edit Profile - We Cook{% endblock %}

{% block content %}
<div class="container nav-padding d-flex justify-content-center align-items-center">
  {{ render_flashed_messages() }}
  <div class="row justify-content-center mx-1">
    <div id="center-form" class="col text-center light-primary-color mb-3 shadow-2-strong">
      <h3 class="my-2">Edit Profile:</h3>
      <form method="POST" action="{{ url_for('edit_profile', user=session['user']) }}" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <!-- Name input -->
        {{ render_field(form.name) }}
        {{ render_field(form.description) }}
        {% if "profile_picture" in user %}
        <small>Current Image: {{ user.profile_picture }}</small> <br>
        {% endif %}
        {{ form.profile_picture.label }}
        {{ form.profile_picture }} <br>
        {% if form.profile_picture.errors %}
        <ul>
          {% for error in form.profile_picture.errors %}
          <li class="form-validation-error">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <small>Maximum file size is 2MB, files must be .jpg, .jpeg or png</small>
        <br>
        <div class="dark-red-color fw-bold text-uppercase" id="filesize-validation"></div>
        <!-- Save Button -->
        <button id="submit-button" type="submit" class="btn btn-outline-dark accent-color primary-text-color my-2">Save</button>
        <!-- Cancel Button -->
        <a class="btn btn-outline-dark grey-background text-primary-color my-2"
        href="{{ url_for('profile', user=session['user']) }}" role="button">
        Cancel
        </a>
        <!-- Delete Profile Button -->
        <a class="btn btn-outline-dark dark-red-background text-primary-color my-2"
        href="#" role="button">
        Delete Profile
        </a>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/validateFileSize.js') }}"></script>
{% endblock %}
