{% macro render_field(field) %}
<div class="form-outline mb-2">
  {{ field(class_='form-control')|safe }}
  <label class="form-label" for="{{ field.name }}">{{ field.label.text }}</label>
  {% if field.errors %}
  <ul>
    {% for error in field.errors %}
    <li class="form-validation-error">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endmacro %}

<!-- this macro is used to render a set of 2 inputs: quantity and ingredient -->
{% macro render_ingredient_form(subform, index) %}
{% from "macros.html" import render_field %}
<div id="ingredients-{{ index }}-form" class="row g-2{% if index != '_' %} ingredients-subform{% else %} is-hidden{% endif %}" data-index="{{ index }}">
  {% for field in subform %}
  <div class="col-5">
    {{ render_field(field) }}
  </div>
  {% endfor %}
  <div class="col-2 d-flex justify-content-center align-items-center">
    <a class="remove-ingredient dark-red-color" role="button"><i class="fas fa-minus-circle"></i></a>
  </div>
</div>
{% endmacro %}

{% macro render_flashed_messages() %}
<!-- Flashed messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<section id="flashed-messages">
  {% for message in messages %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="text-center">
          {{ message }}
          <a class="text-primary-color" id="close-flashed-messages" role="button" href="#">
            <i class="fas fa-times-circle"></i>
          </a>
        </h4>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endif %}
{% endwith %}
{% endmacro %}