{% extends "base.html" %}
{% block title %}Register - We Cook{% endblock %}
{% block content %}
<div class="nav-padding">
  {{ render_flashed_messages() }}
</div>
  <div class="container d-flex flex-column justify-content-center align-items-center mh-100vh">
    <div class="row justify-content-center">
      <div id="center-form" class="col text-center light-primary-color shadow-2-strong px-3">
        <h3 class="py-3">Please enter your details:</h3>
        <form method="POST" action="{{ url_for('register') }}">
          {{ form.csrf_token }}
          <!-- Name input -->
          <div class="row">
            <div class="col-12 mb-3">
              {{ render_field(form.name) }}
            </div>
          </div>
          <!-- Email input -->
          <div class="row">
            <div class="col-12 mb-3">
              {{ render_field(form.email) }}              
            </div>
          </div>
          <!-- Password input -->
          <div class="row">
            <div class="col-12 mb-3">
              {{ render_field(form.password) }}              
            </div>
          </div>
          {# 
            {{ form.recaptcha }}
            {% for error in form.recaptcha.error %}
            <small>{{ error }}</small>
            {% endfor %}
          #}
            <!-- Submit button -->
          <button type="submit" class="btn btn-outline-dark accent-color primary-text-color my-4">Sign up</button>
          <div class="row">
            <div class="col-12 mb-3">
              <a class="recipe-card-link" href="{{ url_for('login') }}">
                <small>Already have an account? Login <span class="text-decoration-underline fw-bold">here.</span></small>
              </a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
{% endblock %}