{% extends "base.html" %}

{% block title %}We Cook{% endblock %}

{% block content %}

<main class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div id="center-form" class="col text-center light-primary-color">
        <h3>Please enter your details:</h3>
        <form>
          <!-- Name input -->
          <div class="form-outline mb-4">
            <input type="text" id="name-input" class="form-control" required>
            <label class="form-label" for="name-input">Name</label>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="email-input" class="form-control" required>
            <label class="form-label" for="email-input">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="password-input" name="password-input" class="form-control" required>
            <label class="form-label" for="password-input">Password</label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-outline-dark accent-color primary-text-color mb-4">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</main>

{% endblock %}