{% extends "base.html" %}
{% block title %}Search Results - We Cook{% endblock %}
{% block content %}
<div class="nav-padding">
  {{ render_flashed_messages() }}
</div>
<div class="container">
  <div class="row pt-4">
    <div class="col">
      <h5 class="text-center">Search Results:</h5>
    </div>
  </div>
  <div class="row justify-content-center pt-3">
    {% if recipes|length == 0 %}
    <small class="text-center">No recipes found.</small>
    {% endif %}

    {% for recipe in recipes %}
    <div class="col-12 col-lg-6 mb-4">
      <div class="card shadow-2-strong p-3 recipe-card">
        <a class="recipe-card-link text-decoration-underline"
          href="{{ url_for('display_recipe', recipe_id=recipe._id) }}">
          <h5 class="card-title text-center pb-2">{{ recipe.name }}</h5>
        </a>
        <div class="row">
          <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <a href="{{ url_for('display_recipe', recipe_id=recipe._id) }}" class="recipe-card-link">
              {% if recipe.recipe_image_url %}
              <img src="{{ recipe.recipe_image_url }}" class="recipe-card-image" />
              {% else %}
              <i class="recipe-card-image-placeholder fas fa-utensils"></i>
              {% endif %}
            </a>
          </div>
          <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
            <div class="accordion" id="recipe-accordion-{{ loop.index0 }}">
              <div class="accordion-item">
                <h2 class="accordion-header" id="ingredients-heading-{{ loop.index0 }}">
                  <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#ingredients-collapse-{{ loop.index0 }}" aria-expanded="false"
                    aria-controls="ingredients-collapse-{{ loop.index0 }}">
                    Ingredients:
                  </button>
                </h2>
                <div id="ingredients-collapse-{{ loop.index0 }}" class="accordion-collapse collapse"
                  aria-labelledby="ingredients-heading-{{ loop.index0 }}"
                  data-mdb-parent="#recipe-accordion-{{ loop.index0 }}">
                  <div class="accordion-body">
                    <ul>
                      {% for ingredient in recipe.ingredients %}
                      <li>
                        {{ ingredient.quantity }} {{ ingredient.ingredient }}
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="instructions-heading-{{ loop.index0 }}">
                  <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#instructions-collapse-{{ loop.index0 }}" aria-expanded="false"
                    aria-controls="instructions-collapse-{{ loop.index0 }}">
                    Instructions:
                  </button>
                </h2>
                <div id="instructions-collapse-{{ loop.index0 }}" class="accordion-collapse collapse"
                  aria-labelledby="instructions-heading-{{ loop.index0 }}"
                  data-mdb-parent="#recipe-accordion-{{ loop.index0 }}">
                  <div class="accordion-body">
                    <p>
                      {{ recipe.instructions }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="mt-2">
                <i class="fas fa-users pe-1"></i>Serves: {{ recipe.servings }}
              </div>
              <div class="mt-2">
                <i class="far fa-clock pe-1"></i>{{ recipe.time_required }} minutes
              </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
              <small>
                <a class="recipe-card-link" href="{{ url_for('profile', user=recipe.added_by) }}">
                  <i class="fas fa-user-circle pe-1"></i>Added by: {{ recipe.added_by_name }}
                </a>
              </small>
                {% if session.user|lower == recipe.added_by|lower %}
              <a class="btn btn-sm ms-auto btn-outline-dark accent-color text-primary-color"
                href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" role="button">
                Edit Recipe
              </a>
              {% endif %}
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}